body {
    font-family: Arial;
    margin: 0;
    background-color: #f4f4f4;
}

nav {
    background: #2c3e50;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.container {
    padding: 30px;
}

.produk {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
}
